.navbar {
    
}

.navbar ul{
    float:right;
}

.navbar img{
    height:60px;
}

.navbar h3{
    display: inline-block;
    margin-top: 20px;
}

.jumbotron {
    position: relative;
    top:50px;
    display: block;
}